dep/
*.txt
vgcore.*
*.o
corewar/corewar
asm/asm
a.out
error
.vscode
*.log
libmy.a
sandbox.c
TODO
todo
/model
.style_output
jade
pull_du_corewar
tests/bin
/tests/out1
/tests/out2
/asm/src/binaries
/assets/champions